<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="float-left">
      <a class="navbar-brand" href="/inicio">Proyecto 2 MIA - Byron Par - Carnet: 2017010785</a>
    </div>
    <div class="float-right">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
              aria-controls="offcanvasDarkNavbar" style="margin-left: 20px;">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <!-- Opción para Visualizador -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/visualizador']">Visualizador</a>
      </li>
      <!-- Nueva opción para Consola -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']">Consola</a>  <!-- Redirige a Inicio -->
      </li>
    </ul>
  </div>
</div>


<router-outlet></router-outlet>
